<div class="card mb-3" style="max-height: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img
        [src]="recipe.imagePath"
        class="card-img fit-image"
        alt="{{ recipe.name }}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text">
          {{ recipe.description }}
        </p>
        <ul class="list-group">
          <li
            href="#"
            *ngFor="let ingredient of recipe.ingredients"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            style="cursor: pointer;"
          >
            {{ ingredient.name }}
            <span class="badge badge-primary badge-pill">{{
              ingredient.amount
            }}</span>
          </li>
        </ul>
        <br />
        <div class="btn-group" dropdown>
          <button
            dropdownToggle
            type="button"
            class="btn btn-primary dropdown-toggle"
          >
            Manage Recipe <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a
                class="dropdown-item"
                href="#"
                (click)="onAddToShoppingList(recipe.ingredients)"
                >Add To Shopping List</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Edit Recipe</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Delete Recipe</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
